* {
	box-sizing: border-box;
  }

body{
	font-family: "Lato", sans-serif;
	margin:0px;
}

.page{
	max-width: 960px;
	margin: auto;
	margin-top: 50px;
}

.row {
	width:100%;
  }
.row::after{
	content: "";
	clear:both;
	display: table;
  }

.col-40 {
	width: 40%;
	float: left;
}

.col-60 {
	width: 60%;
	float: left;
}

.card{
	padding:15px;
	margin:0px;
	margin-left: 10px;
	margin-top: 10px;
}

.thin-border{
	border:solid;
	border-width: 0.5px;
	border-color:rgb(150,150,150); 
}

.navbar-white-t{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 60px;
	font-size: 24px;
	padding: 16px;
	padding-left: 16px;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 8px 8px rgba(180,180,180,0.2);
}

.a-button{
	background-color: rgb(200,230,200);
	padding: 6px;
	text-align: center;
	cursor: pointer;
}

.break{
	border-top:solid;
	border-width: 0.5px;
	border-color:rgb(150,150,150); 
	width:90%;
	height:15px;
	margin:auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}